.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #957FEF;
}

.AppName {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    color: #000; /* You can change this to match your desired text color */
}