.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #f85032;
}

.Heart:hover {
    color: #957FEF;
}

.HeartOutline:hover {
    color: #f85032;
}

.foodReviewDisplay {
    font-size: 1.3rem;
    font-weight: bold;
    color: #444;
    margin-top: 1rem;
    display: inline-block;
    border-bottom: 2px solid #f85032;
    padding-bottom: 2px;
}

.reviewGradeDisplay {
    font-size: 1.3rem;
    font-weight: bold;
    color: #444;
    margin-top: 1rem;
    display: inline-block;
    border-bottom: 2px solid #f85032;
    padding-bottom: 2px;
}